<?xml version="1.0"?>

<!-- Launch camera and robot. -->
<launch>
  <!-- Ridgeback base -->
  <!-- <include file="$(find mobile_manipulation_central)/launch/ridgeback_vicon.launch" pass_all_args="true"/> -->

  <!-- Teleop -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" required="true" args="cmd_vel:=teleop_cmd_vel"/>

  <!-- <node pkg="serving_demo" type="collision_teleop.py" name="collision_teleop" output="screen" required="true"/> -->
</launch>
